<%= turbo_frame_tag 'totals' do %>
  <hr>
  <div class="row datasheet_line_footer">
    <div class="col-5">
      TOTAL
    </div>

    <div class="col-2">
      <%= total_qtd %>
    </div>
  </div>
<% end %>


