<%= turbo_frame_tag 'totals' do %>
  <hr>
  <div class="row datasheet_line_footer">

    <div class="col-1">
      TOTAL
    </div>

    <div class="col"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>

    <div class="col-1">
      <%= datasheet.get_total_qtd('quantity').round(2) %>
    </div>

    <div class="col-1">
      <%= humanized_money_with_symbol Money.new(datasheet.get_total_price) %>
    </div>

    <div class="col"></div>
  </div>
<% end %>


