<h2 class="display-4 text-white">
  <%= @item.name %> (Item)
</h2>

<div class="form-action">
  <div class="grid-item">
    <%= button_to 'EDIT', edit_admin_item_path(@item),
                  class: "btn btn-info shadow-sm px-4 mb-2",
                  :method => :get %>
  </div>

  <div class="grid-item">
    <%= button_to 'REMOVE', admin_item_path(@item),
                  class: "btn btn-warning shadow-sm px-4 mb-2",
                  :method => :delete %>
  </div>
</div>

<p class="lead text-white mb-0">Build a fixed sidebar using Bootstrap 4 vertical navigation and media objects.</p>
<p class="lead text-white">Snippet by <a href="https://bootstrapious.com/snippets" class="text-white">
  <u>asdf</u></a>
</p>

<div class="separator"></div>

<div class="container-fluid p-0">
  <div class="row">

  </div>
</div>

