<p style="color: green"><%= notice %></p>

<h1>Departments</h1>

<div id="departments">
  <% @departments.each do |department| %>
    <%= render department %>
    <p>
      <%= link_to "Show this department", admin_department_path(department) %>
    </p>
  <% end %>
</div>

<%= link_to "New department", new_admin_organization_department_path(@organization) %>
