<h2 class="display-4 text-white">My Organizations</h2>
<p class="lead text-white mb-0">Build a fixed sidebar using Bootstrap 4 vertical navigation and media objects.</p>
<p class="lead text-white">Snippet by <a href="https://bootstrapious.com/snippets" class="text-white">
  <u>asdf</u></a>
</p>

<div class="separator"></div>
