<div class="card-header">
  <div class="row">
    <div class="col-12">
      <h5 class="card-title text-left">Best Items by Cost and Selling Price</h5>
    </div>
  </div>
</div>

<%= link_to 'View All', cost_analysis_admin_menu_path(@menu),
            class: "btn btn-light shadow-sm px-4 mb-2" %>