//
// _email.scss
//

// Email Message Only
.email-app {
    .mark-as-read {
        opacity: 0.75;
    }
}

// Email Editor Style
.email-editor {

    .ql-container {
        max-height: 350px;
        overflow-y: auto;
    }

    .ql-toolbar.ql-snow,
    .ql-container.ql-snow {
        border-width: 0 0 1px 0;
        border-radius: 0;
    }
}