<p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Settings</p>
<ul class="nav flex-column mb-0">
  <li class="nav-item">
    <a href="#" class="nav-link text-dark font-italic">
      <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
<!--      Area charts-->
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link text-dark font-italic">
      <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
<!--      Bar charts-->
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link text-dark font-italic">
      <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
<!--      Pie charts-->
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link text-dark font-italic">
      <i class="fa fa-line-chart mr-3 text-primary fa-fw"></i>
<!--      Line charts-->
    </a>
  </li>
</ul>