<div class="card-header">
  <div class="row">
    <div class="col-12">
      <h5 class="card-title text-left">[Category] Recent Orders</h5>
    </div>
  </div>
</div>

<div class="row">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Order Date</th>
      <th scope="col">Items</th>
      <th class="minimal" scope="col">Status</th>
      <th class="minimal" scope="col">Amount ($)</th>
    </tr>
    </thead>
    <tbody>

    <%# categories.order(:name).each do |category| %>
      <%#= render partial: 'category', locals: { category: category } %>
    <%# end %>
    </tbody>
  </table>
</div>

