//
// _progress.scss
//

// Custom height
.progress-sm {
    height: 5px;
}

.progress-md {
    height: 8px;
}

.progress-lg {
    height: 12px;
}

.progress-xl {
    height: 15px;
}