.ai-assistant-description {
  font-style: italic;
  padding-left: 20%;
  padding-right: 20%;
}

.btn-ai-assistant {
  padding-top: 15px;
  width: 200px;
  height: 50px;
}

.ai-content {
  margin-top: 30px;
  .ai-content-topics {
    //background-color: green;
  }

  .ai-content-recommendations {
    background-color: lightblue;
    padding-top: 25px;
  }
}

