.datasheet-table {

  input, select {
    height: 25px;
    min-width: 130px;
    padding: 0 10px;
    font-size: 10pt;
  }

  .datasheet-row {
    :hover {
      transform: scale(1.02);
      transition: all linear 200ms;
      z-index: 1;
      cursor: pointer;
    }
  }

  .datasheet-header, .datasheet-footer {
    font-weight: bold;

    input {
      min-width: 100px;
    }

    .new {
      color: #4CAF50;
      margin-left: 5px;
    }

    .now {
      color: #86b7fe;
      margin-left: 5px;
    }

    .cmv-green {
      color: #4CAF50;
    }

    .cmv-yellow {
      color: yellow;
    }

    .cmv-red {
      color: #ba1420;
    }

    small {
      font-size: x-small;
      font-style: italic;
    }
  }

  .datasheet-price-refresh {
    margin-left: 20px;
    cursor: pointer;
    opacity: 25%;
  }

  .new_datasheet_line {
    font-weight: bold;
  }
}

.grid-item {
  margin-top: 20px;
}
.datasheet-info {
  margin-right: 20px;

  .datasheet-cmv-tip {
    background-color: #D4E3FC;
    font-size: x-small;
    border-radius: 5px;
    margin-right: 10px;
    height: 80px;
    max-width: 145px;
    display: grid;
    place-items: center;
    text-align: center;
    font-weight: bold;
  }

  .datasheet-cmv-info {
    border: 1px solid var(--jigger-border);
    border-radius: 16px;

    .label {
      font-size: small;
      font-weight: bold;
      place-items: center;
      text-align: center;
      padding: 10px;
    }

    .values {
      place-items: baseline;
      text-align: center;
      padding-left: 15px;

      .cmv {
        background-color: #F9EE97;
        margin-left: 15px;
        margin-bottom: 15px;
      }

      .cmv-text {
        font-size: xx-small;
        font-style: italic;
      }

      .selling {
        font-size: xx-large;
        font-weight: bold;
      }

      .costs {
        font-size: xx-large;
        font-weight: bold;
        color: var(--jigger-light-grey);
      }
    }
  }
}