.jigger-form {
  //max-width: 80%;
  padding: 30px 60px;
  border: 0.1px solid var(--jigger-border);
  background-color: white;
  color: var(--jigger-black);
  border-radius: 8px;

  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }

  .jigger-label {
    .form-text {
      font-size: x-small;
      color: var(--jigger-blue);
    }

    .info-description {
      font-weight: bold;
    }
  }

  .info-label {
    font-size: small;
    color: var(--jigger-dark-grey);
  }

  input[type="text"],
  input[type="text"],
  input[type="email"],
  textarea {
    appearance: none;
    background-clip: padding-box;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    display: block;
    font-size: small;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.3rem 0.85rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  input[type="text"],
  input[type="text"],
  input[type="email"],
  textarea:focus {
    //color: #bdc0c5;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin: 4px 15px 8px 0;
  }

  .form-check {
    padding-left: 0;
  }

  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
    font-size: small;
  }

  fieldset {
    margin-bottom: 30px;
    border: none;
  }

  legend {
    font-size: 20px;
    line-height: 1.3;
    text-align: left;
  }

  .card-header {
    color: var(--jigger-black);
    margin-bottom: 25px;

    h4, h5 {
      font-weight: bold;
    }

    .item-image {
      background-color: grey;
      margin-top: 20px;
    }

    .item-description {
      margin-top: 20px;

    }
  }

  .form-photo {
    width: 350px;
    height: 250px;
  }

  .form-btn{
    color: #FFF;
    background-color: var(--jigger-blue);
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }

  .number {
    background-color: #86b7fe;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
}

.jigger-form {
  &.category-performance {
    min-height: 320px;
  }

  &.weekly-sales {
    min-height: 320px;
  }
}

.jigger-form.child-list {
  margin-top: 10px;

  &.matrix-popularity {
    padding: 40px;

    .custom-col {
      min-width: 150px;
      scale: 0.95;

      h4 {
        font-size: 14pt;
      }
    }
  }
}

.sale-item {
  height: 130px;
  background: var(--jigger-background);

  .fa {
    font-size: xx-large;
  }

  &.blue {
    background: var(--jigger-blue);
    color: var(--jigger-background);
  }

  &.white {
    background: var(--jigger-background);
    color: var(--jigger-black);
  }
}

