.fa-sack-dollar.orange {
  font-size: xx-large;
  color: #FFA834;
}

.trash-icon-button {
  border: 0;
  background: none;
  color: var(--jigger-red);
}

.fa-solid.fa-martini-glass {
  font-size: 25pt;
}