/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

:root {
  --cardWidth: 240px;
  --cardHeight: 280px;
  --cardMargin: 5px;
  --bs-secondary-bg: white;
  --jigger-background: white;
  --jigger-black: #444444;
  --jigger-grey: #EBEBEB;
  --jigger-dark-grey: #8E8E93;
  --jigger-border: #D8D9DB;
  --jigger-blue: #1464F6;
  --jigger-light-blue: #D4E3FC;
  --jigger-body-background: #F7F6F6;
}

body {
  background: var(--jigger-body-background);
  min-height: 100vh;
  overflow-x: hidden;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px solid var(--jigger-light-blue);
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.page-content {
  width: calc(100% - 10rem);
  margin-left: 10rem;
  transition: all 0.4s;
  margin-top: -2%;

  .container {
    margin-left: 0;
    max-width: 1370px;

    .vertical-line {
      border-left: 0.1px solid var(--jigger-border);
      min-height: 300px;
      height: 100%;
      margin-top: -30px;
      padding-left: 55px;
      padding-top: 30px;
      margin-left: 60px;
    }
  }
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

/* vertical menu */
.vertical-nav {
  width: 5%;
  height: 100vh;
  position: fixed;
  background-color: var(--jigger-background);
  color: var(--jigger-black);
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;

  .fa {
    font-size: xx-large;
  }

  .btn:hover {
    background-color: var(--jigger-light-blue);
  }

  .btn {
    border: none;
  }

  .nav-rectangle {
    width: 100%;
    height: 80px;
    padding: 8px 8px 8px 8px;
    background: #444444;
    margin-bottom: 20px;

    .btn {
      margin-top: 20%;
    }

    .sidebarCollapse:hover {
      /*background-color: var(--jigger-background);*/

      .fa {
        color: black;
      }
    }

    .fa {
      font-size: xx-large;
      color: white;
    }
  }
}

.media-body {
  margin-left: 5px;
}

/* Top bar */
.top-bar {
  height: 80px;
  margin-left: 5.05%;
  border: var(--jigger-grey) 1px solid;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.7s;
  padding-left: 50px;
  background-color: var(--jigger-background);
  color: var(--jigger-black);

  .top {
    font-size: x-large;
    font-family: "DejaVu Sans";
    font-weight: bold;

    .top-at {
      color: #F06E9C;
    }

    .top-name {
      color: var(--jigger-black);
    }
  }

}

/* for toggle behavior */
.top-bar.active {
  margin-left: 0;
}

#sidebar.active {
  margin-left: -10rem;
}

#content.active {
  width: 100%;
  margin: -2% 0 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
    margin-top: -2%;
  }

  #alert-div.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }

  #alert-msg.active {
    margin-left: -17rem !important;
    width: calc(100% - 17rem);
  }
}

#alert-msg {
  margin-left: 17rem;
  transition: all 0.4s;
}

#alert-msg.active {
  margin-left: 0 !important;
  transition: all 0.4s;
}

.alert-div{
  --bs-alert-bg: transparent;
  --bs-alert-padding-x: 1rem;
  --bs-alert-padding-y: 1rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-color: inherit;
  --bs-alert-border-color: transparent;
  --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
  --bs-alert-border-radius: var(--bs-border-radius);
  --bs-alert-link-color: inherit;
  position: relative;
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);
}

/* cards display */
#content .row {
  row-gap: 10px;
}

.card {
  margin: var(--cardMargin);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,3);

  a {
    text-decoration: none;
    color: var(--bs-gray-900);
  }
}

.card:hover {
  transform: scale(1.02);
  transition: all linear 200ms;
  z-index: 1;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 1;
  padding: 2em;

  /* Centering */
  left: 50%;
  top: 50%;
  transform: translate(-0%, -50%);

  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  /* Add the drop shadow */
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19);
}

.circle-link {
  margin-top: 50%;
  display: inline-block;
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  line-height: 40px; /* Vertically center the text */
  text-align: center; /* Horizontally center the text */
  border-radius: 50%; /* Makes the link circular */
  background-color: #007bff; /* Link background color */
  color: white; /* Link text color */
  font-size: 24px; /* Adjust as needed */
  text-decoration: none; /* Remove underline */
}

.circle-link:hover {
  background-color: #0056b3; /* Change background color on hover */
}

.cancel-button {
  background-color: #1530ff;
  font-size: 12px;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-decoration: none;
}
.cancel-button:hover {
  background-color: #2640fe;
}

/* form display */
.btn_new {
  height: 80px;
  width: 80px;
  font-size: 2em;
  border-radius: 50%;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
}

.btn_new:hover {
  box-shadow: 0 0 15px 0 rgba(0,0,0,1), 0 5px 15px 0 rgba(0,0,0,1);
  transform: scale(1.05);
  transition: all linear 50ms;
}

/* table minimal btn */
.minimal .btn {
  --bs-btn-padding-y: .24rem;
  --bs-btn-padding-x: .8rem;
  --bs-btn-font-size: .75rem;
}

.minimal form {
  display: inline;
}

/* new, edit and remove form */
.form-action{
  display: flex;
  column-gap: 5px;
}


