/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

body {
  /*background: -webkit-linear-gradient(to right, #222e3c, #1f2227);*/
  /*background: linear-gradient(to right, #1f2227, #222e3c);*/
  background: linear-gradient(to right, #1f2227, #1f2227);
  min-height: 100vh;
  overflow-x: hidden;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

:root {
  --cardWidth: 240px;
  --cardHeight: 280px;
  --cardMargin: 5px;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
  margin-top: -5%;
  /*position: fixed;*/
}

/* vertical menu */
.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.media-body {
  margin-left: 5px;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

/* cards display */
.card {
  margin: var(--cardMargin);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,3);
}

.card:hover {
  transform: scale(1.05);
  transition: all linear 200ms;
  z-index: 1;
  box-shadow: 0px 10px 20px 2px white;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 1;
  padding: 2em;

  /* Centering */
  left: 50%;
  top: 50%;
  transform: translate(-0%, -50%);

  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  /* Add the drop shadow */
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19);
}

.cancel-button {
  background-color: #1530ff;
  font-size: 12px;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-decoration: none;
}
.cancel-button:hover {
  background-color: #2640fe;
}

.btn_new {
  height: 80px;
  width: 80px;
  font-size: 2em;
  border-radius: 50%;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
}

.btn_new:hover {
  box-shadow: 0 0 15px 0 rgba(0,0,0,1), 0 5px 15px 0 rgba(0,0,0,1);
  transform: scale(1.05);
  transition: all linear 50ms;
}


.form-action{
  display: flex;
  column-gap: 5px;
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/


