<div class="card-header">
  <div class="row">
    <div class="col-12">
      <h5 class="card-title text-left">[Item] Sales Performance</h5>
    </div>
  </div>
</div>

<%= button_to 'View All', nil,
              class: "btn btn-light shadow-sm px-4 mb-2",
              :method => :get %>

