<h2 class="display-4 text-white">
  <%= @datasheet.name %> (Datasheet)
</h2>

<div class="form-action">
  <div class="grid-item">

    <%= form_with scope: :any, url: new_line_admin_datasheet_datasheet_lines_path(@datasheet) do |form| %>
      <%= button_to 'NEW', new_line_admin_datasheet_datasheet_lines_path(@datasheet),
                    class: "btn btn-info shadow-sm px-4 mb-2",
                    :method => :get %>
    <% end %>


  </div>
</div>

<p class="lead text-white mb-0">Build a fixed sidebar using Bootstrap 4 vertical navigation and media objects.</p>
<p class="lead text-white">Snippet by <a href="https://bootstrapious.com/snippets" class="text-white">
  <u>asdf</u></a>
</p>

<div class="separator"></div>

<div class="container-fluid p-0">
  <div class="row">
    <table class="table table-hover" id="messages">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Description</th>
        <th scope="col">Volume</th>
        <th scope="col">Measure</th>
        <th scope="col">Unit</th>
        <th scope="col">Value</th>
        <th scope="col">Discount %</th>
        <th scope="col">Cost</th>
        <th scope="col"></th>
      </tr>
      </thead>

        <tbody>
        <% @datasheet.datasheet_lines.each do |line| %>
          <%= render partial: 'admin/datasheet_lines/line', locals: { line: line } %>
        <% end %>
        </tbody>

    </table>
  </div>
</div>

