<div class="row">
  <div class="col-12">
    <img src="https://avatars.githubusercontent.com/u/6000870?s=400&u=1fd2f3e7fa91fbe5d2194826d9dac5516a015e75&v=4"
         alt="..." class="mr-3 img-thumbnail shadow-sm form-photo">
  </div>

  <div class="col-12 text-center">
    <span><%= organization&.name %></span>
    <span><%= organization&.status %></span>
  </div>
</div>