<div class="container-fluid p-0">
  <%= button_to 'NEW', new_admin_organization_menu_path(@organization.id),
                class: "btn btn-success shadow-sm px-4 mb-2",
                :method => :get %>

  <div class="row">
    <% menus.each do |menu| %>
      <%= render 'admin/menus/card', menu: menu, items: menu.items.best_five %>
    <% end %>
  </div>
</div>
