<div class="row">
  <div class="col-8">
    <div class="container jigger-form">
      <div class="row">
        <div class="col-6">
          <div class="card-header">
            <h4 class="card-title text-left">Popularity Performance </h4>
          </div>
        </div>
      </div>

      <div class="row">
        <%= render partial: 'admin/menus/partials/matrix/matrix_popularity' %>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="container jigger-form">
      <div class="card-header">
        <h4 class="card-title text-left">Popularity Details </h4>
      </div>
    </div>
  </div>
</div>