<div>
  <div class="row row-left-square">
    <div class="col-1">
      <div class="line-with-arrow top">
        <span class="label">Right Arrow</span>
      </div>
    </div>

    <div class="col-4">
      <div class="row row-square red">
        <div class="col-12">
          <div class="square-container">
            <h4>Plowhorses</h4>
          </div>
        </div>
      </div>

      <div class="row row-square blue">
        <div class="col-12">
          <div class="square-container">
            <h4>Stars</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row row-square purple">
        <div class="col-12">
          <div class="square-container">
            <h4>Dogs</h4>
          </div>
        </div>
      </div>

      <div class="row row-square orange">
        <div class="col-12">
          <div class="square-container">
            <h4>Puzzles</h4>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
