<button type="button" class="btn btn-outline-light mb-4 sidebarCollapse">
  <i class="fa fa-bars mr-2"></i>
</button>

<%= link_to 'Back', 'javascript:history.back()', class: "btn btn-outline-light mb-4" %>

<%= link_to admin_organizations_path, class: "btn btn-outline-light mb-4" do %>
  <i class="fa fa-home" aria-hidden="true"></i>
<% end %>