<!-- Top Bar -->
<nav class="top-bar navbar navbar-expand-lg">

  <div class="container-fluid">
    <div class="col-6">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link top" href="#">
            <span class="top-at">@</span>
            <span class="top-name">COMPANY NAME</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-2">
      <%= render partial: 'layouts/menu/user_info' %>
    </div>

  </div>
</nav>